body{
    font-family: 'Segoe UI', Arial;
    background: linear-gradient(135deg,#667eea,#764ba2);
    text-align:center;
    margin:0;
    padding:0;
}

h1{
    color:white;
    margin-top:30px;
    font-size:40px;
    letter-spacing:2px;
}

.slide{
    display:none;
    background:white;
    width:60%;
    margin:40px auto;
    padding:30px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,0.3);
    text-align:left;
    transition:0.3s;
}

.slide p{
    font-size:20px;
    font-weight:bold;
}

label{
    display:block;
    margin:12px 0;
    font-size:18px;
    cursor:pointer;
}

input[type="radio"]{
    margin-right:10px;
    transform:scale(1.2);
}

button{
    padding:12px 25px;
    margin:10px;
    background:#27ae60;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
    transition:0.3s;
}

button:hover{
    background:#219150;
    transform:scale(1.08);
}

.card{
    background:white;
    padding:40px;
    width:350px;
    margin:150px auto;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

.card h1{
    color:#333;
}

.card h2.low{
    color:red;
}

.card h2.medium{
    color:orange;
}

.card h2.high{
    color:green;
}